/* Titulo da página */
.titulo{
justify-content: center;
text-align: center;
margin: 20px 0;
text-transform: uppercase;
letter-spacing: 2px;
font-size: 2rem;
color: #333;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 255, 0.1); /* Sombra azul */
}

/* Alinhamento dos botoes */
.container-botoes{
margin-top: 20px;
align-items: center;
margin-left: 25%;
width: 55%;
}

/* Botoes clicaveis das duvidas frequentes */
.btnFaq{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 5px;
margin-bottom: 10px;
padding-top: 20px;
background-color: #0D6EFD;
color: #fff;
font-size: 18px;
border: none;
border-radius: 25px;
cursor: pointer;
box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
line-height: 30px;
}

.btnFaq:hover {
background: linear-gradient(to bottom, #0052cc, #003f99);
color: #fff;
transform: scale(1.05);
box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}


/* Respostas que irão aparecer */
.cardFaq{
width: 100%;
padding: 1.5;
line-height: 30px;
font-color: #000;
font-size: 18px;
align-items: center;
border: 2px solid #ddd;
border-radius: 5px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
background-color: #f7f7f7;
transition: transform 0.2s ease, box-shadow 0.3s ease
}

.cardFaq:hover {
transform: translateY(-2px);
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

