<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" th:replace="fragments/layout :: layout(~{::title}, ~{::#content}, ~{::#footer})">
<head>
    <meta charset="UTF-8">
    <title>Goservice - 404 </title>
</head>
<body>
    <div id="content">
        <div th:replace="fragments/header :: header"></div>
        <div class="container my-4">
            <h1>Error 404</h1>
            <h2>A pagina não foi encontrada, confira a URL inserida e tente novamente</h2>
        </div>
    </div>

    <footer id="footer">
        <div th:replace="fragments/footer :: footer"></div>
    </footer>

</body>
</html>