<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" th:replace="fragments/layout :: layout(~{::title}, ~{::#content})">
<head>
    <title>GoService | Home</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" media="screen" />
</head>
<body>

<main id="content">
    <div th:replace="fragments/header :: header"></div>


    <!--STYLE-->
    <div class="ContainerCard">


    <!--CARD 1-->
    <div class="card" style="width: 20rem;margin:10px 20px;display: inline-block;height: 560px; padding: 10px">
        <img th:src="@{/assets/img/prormos/1.png}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Seja um Artista do Futuro!</h5>
            <p class="card-text">Desperte Sua Genialidade e Faça Parte da GO Service, a Plataforma onde a Criatividade Ganha Vida!</p>
            <div class="d-flex w-100 justify-content-center">
                <a href="#" class="btn btn-primary" style="align-self:center; box-shadow: 0 0 10px rgba(0,0,0,0.6); -webkit-box-shadow:0 0 10px rgba(0,0,0,0.6)">SejaGo!</a>
            </div>
        </div>
    </div>


    <!--CARD 2 -->
    <div class="card" style="width: 20rem;margin:10px 20px;display: inline-block;height: 560px; padding: 10px">
        <img th:src="@{/assets/img/prormos/2.png}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Conecte-se, Empreenda!</h5>
            <p class="card-text">Desbrave o Mundo Autônomo: Conecte-se à Nossa Plataforma e Transforme Seus Sonhos em Realidade!</p>
            <div class="d-flex w-100 justify-content-center">
                <a href="#" class="btn btn-primary" style="align-self:center; box-shadow: 0 0 10px rgba(0,0,0,0.6); -webkit-box-shadow:0 0 10px rgba(0,0,0,0.6)">SejaGo!</a>
            </div>
        </div>
    </div>


    <!--CARD 3 -->
    <div class="card" style="width: 20rem;margin:10px 20px; display:inline-block; height: 560px; padding: 10px">
        <img th:src="@{/assets/img/prormos/3.png}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Explore o Conhecimento!</h5>
            <p class="card-text">Descubra o Saber em Movimento: Entre para Aulas Online na Plataforma e melhore seu desempenho!</p>
            <div class="d-flex w-100 justify-content-center">
            <a href="#" class="btn btn-primary" style="align-self:center; box-shadow: 0 0 10px rgba(0,0,0,0.6); -webkit-box-shadow:0 0 10px rgba(0,0,0,0.6)">SejaGo!</a>
            </div>
        </div>
    </div>


    <!--CARD 4-->
    <div class="card" style="width: 20rem;margin:10px 20px;display: inline-block;height: 560px; padding: 10px">
        <img th:src="@{/assets/img/prormos/4.png}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">GoService Resolve: Sua Solução!</h5>
            <p class="card-text">Liberte-se daquilo que não gosta! Nós construímos enquanto você desfruta do que ama fazer!!!</p>
            <div class="d-flex w-100 justify-content-center">
                <a href="#" class="btn btn-primary" style="align-self:center; box-shadow: 0 0 10px rgba(0,0,0,0.6); -webkit-box-shadow:0 0 10px rgba(0,0,0,0.6)">SejaGo!</a>
            </div>Cadast
        </div>
    </div>


    <!--CARD 5 -->
    <div class="card" style="width: 20rem;margin:10px 20px;display: inline-block;height: 560px; padding: 10px">
        <img th:src="@{/assets/img/prormos/5.png}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Compre com Inteligência!</h5>
            <p class="card-text">Descubra a inovação na Shopper. Compras personalizadas, inteligentes e convenientes!</p>
            <div class="d-flex w-100 justify-content-center">
                <a href="#" class="btn btn-primary" style="align-self:center; box-shadow: 0 0 10px rgba(0,0,0,0.6); -webkit-box-shadow:0 0 10px rgba(0,0,0,0.6)">SejaGo!</a>
            </div>
        </div>
    </div>


    <!--CARD 6-->
    <div class="card" style="width: 20rem;margin:10px 20px;display: inline-block;height: 560px; padding: 10px">
        <img th:src="@{/assets/img/prormos/6.png}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Passaporte para o Sucesso Online!</h5>
            <p class="card-text">Nosso site é sua chave para o sucesso online. Par crescer como a GO, Cadastre-se e vença!</p>
            <div class="d-flex w-100 justify-content-center">
                <a href="#" class="btn btn-primary" style="align-self:center; box-shadow: 0 0 10px rgba(0,0,0,0.6); -webkit-box-shadow:0 0 10px rgba(0,0,0,0.6)">SejaGo!</a>
            </div>
        </div>
    </div>


    <!--CARD 7 -->
    <div class="card" style="width: 20rem;margin:10px 20px;display: inline-block;height: 560px; padding: 10px">
        <img th:src="@{/assets/img/prormos/7.png}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Organize Sua Vida: A Rotina Perfeita ao Seu Alcance!</h5>
            <p class="card-text">Maximize sua eficiência com a GoService: sua rotina, sua regra. Cadastre-se agora!</p>
            <div class="d-flex w-100 justify-content-center">
                <a href="#" class="btn btn-primary" style="align-self:center; box-shadow: 0 0 10px rgba(0,0,0,0.6); -webkit-box-shadow:0 0 10px rgba(0,0,0,0.6)">SejaGo!</a>
            </div>
        </div>
    </div>


    <!--CARD 8-->
    <div class="card" style="width: 20rem;margin:10px 20px;display: inline-block;height: 560px; padding: 10px">
        <img th:src="@{/assets/img/prormos/8.png}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Aceite Propostas Impecáveis com a Go!</h5>
            <p class="card-text">Destaque-se da concorrência! Impulsione suas propostas para o próximo nível!</p>
            <div class="d-flex w-100 justify-content-center">
                <a href="#" class="btn btn-primary" style="align-self:center; box-shadow: 0 0 10px rgba(0,0,0,0.6); -webkit-box-shadow:0 0 10px rgba(0,0,0,0.6)">SejaGo!</a>
            </div>
        </div>
    </div>

    </div>



    <footer th:replace="fragments/footer :: footer"></footer>
</main>

</body>
</html>