
<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" th:replace="fragments/layout :: layout(~{::title}, ~{::#content})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Termos de Responsabilidade</title>
    <link rel="stylesheet" th:href="@{/css/termos.css}">
</head>
<body>

<main id="content">

    <div th:replace="fragments/header :: header"></div>

    <div class="container-termos">
    <h1 class="termos-titulo">Termos de Responsabilidade</h1>


    <p><strong class="text-termos">Bem-vindo aos Termos de Uso e Responsabilidade do serviço "GoService"! Estes termos são um acordo legal entre você (doravante referido como "Usuário" ou "Você") e a GoService Ltda. (doravante referida como "Nós", "Nosso" ou "GoService"). Ao acessar ou utilizar os serviços oferecidos pela GoService, você concorda em cumprir e estar vinculado a estes termos. Se você não concordar com qualquer parte destes termos, por favor, não use nossos serviços.</strong></p>

    <p class="T-termos">1. Uso dos Serviços</p>
    <p class="p-termos">1.1. Você reconhece que é totalmente responsável por qualquer uso que faça dos serviços da FicTech. Isso inclui o uso de nosso site, aplicativo móvel ou qualquer outro serviço que oferecemos.</p>

    <p class="p-termos">1.2. Você concorda em usar nossos serviços apenas para fins legais e éticos. Não é permitido utilizar nossos serviços para atividades ilegais, fraudulentas, difamatórias, prejudiciais ou que violem os direitos de terceiros.</p>

    <p class="T-termos">2. Conta do Usuário</p>
    <p class="p-termos">2.1. Para utilizar determinados recursos de nossos serviços, você pode ser obrigado a criar uma conta de usuário. Você é responsável por manter a confidencialidade de suas informações de login e senha e por todas as atividades que ocorrerem em sua conta.</p>

    <p class="p-termos">2.2. Você concorda em nos notificar imediatamente sobre qualquer uso não autorizado de sua conta ou qualquer outra violação de segurança.</p>

    <p class="T-termos">3. Responsabilidades e Limitações</p>
    <p class="p-termos">3.1. A FicTech não se responsabiliza por quaisquer danos diretos, indiretos, incidentais, especiais ou consequentes que possam surgir do uso ou impossibilidade de uso de nossos serviços.</p>

    <p class="p-termos">3.2. Reservamos o direito de modificar, suspender ou encerrar qualquer parte de nossos serviços a qualquer momento, por qualquer motivo, sem aviso prévio.</p>

    <p class="T-termos">4. Alterações nos Termos</p>
    <p class="p-termos">4.1. A FicTech se reserva o direito de alterar estes Termos de Uso e Responsabilidade a qualquer momento. Quaisquer alterações serão publicadas em nosso site e entrarão em vigor imediatamente após a publicação.</p>

    <p class="p-termos">4.2. É sua responsabilidade revisar periodicamente estes termos para estar ciente de quaisquer alterações.</p>

    <p class="p-termos"><em class="em-termos">Última atualização: 05 de Setembro de 2023</em></p>
        <p class="mb-0 text-body-secondary">© 2023 Company, GoService</p>


    </div>

</main>



</body>
</html>
